body {
    background-color: lightsteelblue;
    font-family: "Permanent Marker", cursive;
}

#header {
    text-align: center;
}

#main {
    padding-left: 75px;
}

ul {
    padding-left: 0;
    display: block;
}

ul {
    list-style: none;
}
